.parent {
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.child {
    height: 100px;
    width: 100px;
    font-size: 50px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}