h1 {
    background-color: yellow;
    border: 2px solid black;
}

.cont {
    background-color: lightcoral;
    color: aliceblue;
    border: 2px solid black;
    width: 150px;
}

@media (width:400px) {
    h1 {
        background-color: pink;
    }
}

@media(min-width:200px) {
    .cont {
        background-color: yellow;
        color: blue;
    }
}

@media(min-width:200px) {
    .cont {
        background-color: yellow;
        color: blue;
    }
}