.container {
    background-color: pink;
    font-size: 1.5rem;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    height: 100vh;
    /* optional for full screen */
}

.header {
    grid-row: 1/2;
    grid-column: 1 / 13;
}

.sidebar {
    grid-column: 1 / 4;
    grid-row: 2/ 12;
}

.navigation {
    grid-column: 4 / 10;
    grid-row: 2/3;
}

.ads {
    grid-column: 10 / 13;
    grid-row: 2/ 12;
}

.main {
    grid-column: 4/10;
    grid-row: 3/ 12;
}

.footer {
    grid-column: 1 / 13;
    grid-row: 12/13;
}

@media(max-width:720px) {
    .header {
        grid-row: 1/2;
        grid-column: 1 / 13;
    }

    .sidebar {
        grid-column: 1 / 4;
        grid-row: 3/ 12;
    }

    .navigation {
        grid-column: 1/ 13;
        grid-row: 2/3;
    }

    .ads {
        grid-column: 1 / 4;
        grid-row: 12/ 13;
    }

    .main {
        grid-column: 4/13;
        grid-row: 3/ 12;
    }

    .footer {
        grid-column: 4 / 13;
        grid-row: 12/13;
    }
}