.container {
    width: 600px;
    height: 600px;
    background-color: yellow;
    /* 1.Display content as grid: */
    display: grid;

    /* 2.Grid Templete Rows/Columns: Defines rows and columns space */
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px 100px 100px;

    /* 3.Grid Templete (Reapeat): used to divide all spaces equally: */
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);

    /* 4.Grid Gaps:they define gaps beteween lines: */
    row-gap: 10px;
    column-gap: 10px;
    gap: 20px 20px;

    /*5.Grid Properties:*/
    /*i:justify-items: Allign items horizontally*/
    justify-items: center;
    /*ii:allign-items: Allign items vetically*/
    align-items: end;
    /*iii.place-items: place items vertically and horizontally at same time*/
    place-items: center;
}

.item {
    width: 100px;
    height: 50px;
    background-color: pink;
    border: 2px solid black;
    text-align: center;
}

.item1 {
    width: 100px;
    height: 50px;
    background-color: pink;
    border: 2px solid black;
    text-align: center;
    /* 5.Grid Columns: defines item's starting and ending position in the columns: */
    grid-column-start: 1;
    grid-column-end: 3;

    /*6.Grid Rows: defines item's starting and ending position in the rows: */
    grid-row-start: 1;
    grid-row-end: 4;

    /*7.Grid items properties:*/
    /*i:justify self:define how items allign horizontally:*/
    justify-self: end;
    /*ii:Allign self: define how items allign vertically*/
    align-self: end;
    /*iii.place-self: place items vertically and horizontally at same time*/
    place-self: center;

}