* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.main_box {
    height: 100vh;
    background-image: url(camera.png);
    background-size: cover;
}

.menu_btn {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 16px;
    line-height: 60px;
}

.sidebar_menu {
    position: fixed;
    /* left: -350px; */
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}