* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background: url(image.png);
    height: 100vh;
    background-size: cover;
}

.btn_one {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    top: 16x;
}

.menu ul li a {
    text-decoration: none;
    color: white;

}