div {
    /* 1.height property: used to set the height of the content written inside a element, do not applies on the element, applies on content: */
    height: 200px;

    /* 2. Width property: used to set the width of the content written inside a element, do not applies on the element, applies on content: */
    width: 500px;

    /* 3.Border Properties: */
    /* 3.1. Border Width : used to set the thickness of the border, applies on element here not content: */
    border-width: 2px;
    /* 3.2. Border style : used to set the style of the border, applies on element here not content: */
    border-style: solid;
    /* 3.3. Border color : used to set the color of the border, applies on element here not content: */
    border-color: black;
    /* 3.4. Border Shorthand: used to set all of the three above in a order in a single line width|style|color: */
    border: 3px, dotted, blueviolet;
    /* 3.5:Border Sides: Border Left,Right,Top,Bottom: used to control an indivisual side of the box: */
    border-top-width: 5px;
    border-right-style: solid;
    border-left-color: green;
    border-bottom-style: dashed;
    border: solid;
    /* 3.6. Border Radius: used to round the corners of elements outer edge: */
    border-radius: 10px;

    /* 4.Padding Properties: padding means the leftover space in up,bottom,right,left after content was written*/
    /* we can adjust padding using these properties: */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding shorthands: */
    /* 4.1 For all sides: */
    padding: 20px;
    /* 4.2 For top/bottom or left/right: */
    padding: 15px 15px;
    /* 4.3 For top|left and right|bottom: */
    padding: 30px 15px 30px;
    /* 4.4 clockwise padding: top|right|bottom|left */
    padding: 10px 20px 30px 40px;

    /* 5.Margin Proerties: margin means the distance between two boxes of two elements: */
    /* we can adjust margin using these properties: */
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin shorthands */
    /* 4.1 For all sides: */
    margin: 20px;
    /* 4.2 For top/bottom or left/right: */
    margin: 15px 15px;
    /* 4.3 For top|left and right|bottom: */
    margin: 30px 15px 30px;
    /* 4.4 clockwise margin: top|right|bottom|left */
    margin: 10px 20px 30px 40px;

    /* 6. Display Properties: it is used to display a inline elemetnt to block and vice versa */
    display: inline;
    display: block;
    display: inline-block;

    /* (Read About) 7.Inline vs Block Effects in css */

}

button {
    border-radius: 10px;
    padding-right: 10%;
    padding-left: 10%;

}

.parent {
    height: 1%;
    font-size: 20px;
}

.child {
    font-size: 1.2em;
    padding: 2.5em;
}