#alpha {
    background-color: rgba(255, 0, 0, 0.3);
    opacity: 0.4;
}

#transitions {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    border: 2px solid black;
    transition: width 1s ease;
    margin: 0 auto;
}

#transitions:hover {
    background-color: yellow;
    width: 200px;
}

.a {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightcoral;
    text-align: center;
    transform: rotate(45deg);

}

.b {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightblue;
    text-align: center;
    transform: scale(1.2, 2);

}

.c {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightgoldenrodyellow;
    text-align: center;
    transform: translate(20px, 20px);
}

.d {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: lightgray;
    text-align: center;
    transform: skew(30deg);

}

.e {
    border: 2px solid black;
    height: 50px;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    color: lightpink;
    text-align: center;
    transform: rotate(30deg), translateX(150px);
}

#main {
    height: 200px;
    width: 400px;
    background-color: grey;
    margin: 10px auto;
    background-image: url("image.png");
    background-size: cover;
    background-size: contain;
    background-size: auto;
}

.card {
    width: 200px;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 4px 10px black;
    transition: 1s;

}

img {
    width: 200px;
    height: 200px;
    border-radius: 2px 2px 0 0;
}

.desc {
    padding-left: 2px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 4px 8px 20px yellowgreen;

}

/* div {
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    text-align: center;
    margin: 20px;
    display: inline-block;
} */

#static {
    background-color: yellow;
    position: static;
    left: 100px;
    top: 100px;
}

#relative {
    background-color: yellow;
    position: relative;
    left: 100px;
    top: 100px;
}

#absolute {
    background-color: yellow;
    position: absolute;
    left: 100px;
    top: 100px;
}

#fixed {
    background-color: yellow;
    position: fixed;
    left: 200px;
    top: 200px;
}

.face {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-color: orange;
}



.mouth {
    height: 75px;
    width: 200px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}

.lefteye,
.righteye {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 80px;

}

.righteye {
    left: 230px;
}

.eyeball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aliceblue;
    position: absolute;
    top: 20px;
    left: 25px;
}