body {
    background-color: wheat;
    font-family: georgia;
}

p {
    text-align: center;
    color: red;
    line-height: 30px;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

h3 {
    color: black;
    text-align: center;
}

h4 {
    text-align: center;
}

a {
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: #000;
}

/* 
Qs1. Set the background page to color “wheat”, by using an inline style.

Qs2. Change the color of the poem in the page to brown (use the hex code for color).

Qs3. Align all the headings & the poem to the center of the page.

Qs4. Change the color of the poem to red & the poet’s name to black.

Qs5. Change the font of the entire document to the font - Georgia.

Qs6. Set the color of the Wikipedia link to green & remove its underline (use the rgb value for color).

Qs7. Change the button background color to white & button text to blueviolet.

Qs8. What is the hex code for black color? Set the textarea font color to black.

Qs9. Set the poem’s line-height to 30px.

Qs10. Underline only the word Ozymandias inside the poem. */