/* 1.Universal selector: used to apply properties on all the content written: */
* {
    background-color: white;
}

/* 2. Element selector: used to apply properties on all the content inside all same elements only: */
button {
    font-style: italic;
}

/* 3.ID selector: used to apply properties on selected elements sub element: */
#login {
    font-weight: 900;
    font-style: normal;
}

#signup {
    font-weight: 900;
    font-style: normal;
}

/* 4.class selector: used to apply properties on same elements present anywhere in the code: */
.upvote {
    background-color: green;
    color: aliceblue;
}