* {
    text-align: center;
}

h2 i a {
    text-decoration: none;
    color: #d56f3e;
}

span {
    color: #d56f3e;
}

.card {
    width: 400px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 0px black;
    transition: 0.5s ease-in-out;
}

img {
    width: 100%;
    border-radius: 25px;
}

h4 {
    color: gray;
}

.card:hover {
    box-shadow: 2px 4px 16px #d56f3e;
}